<h1>Contact Details</h1>

<dt> Full Name
  <dd><%= @contact.fullname %></dd>
</dt><br>

<dt> Email
  <dd><%= @contact.email %></dd>
</dt><br>

<dt> Gender
  <dd><%= @contact.gender %></dd>
</dt><br>

<dt> Relationship
  <dd><%= @contact.relation %></dd>
</dt><br>
